@import '../../style/variables';

.mealCard {
    margin: 0 auto;
    width: 300px;
    box-sizing: border-box;
    border: 2px solid white;
    transition: 0.5s all ease;
    padding: 0 20px;
    cursor: pointer;

    &__img {
        width: 100%;
    }

    &__hover {
        border: 2px solid $main-color;
        box-shadow: 2px 5px 8px 4px rgba(34, 60, 80, 0.2);

        
    }
}