.areaInfo {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    &__wrapper {
        padding-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
        gap: 20px;
        min-height: calc(100vh - 707px);
        justify-content: space-between;
        align-items: start
    }

    &__search {
        width: 70%;
        height: 50px;
        padding: 5px 20px;
        font-size: 20px;
    }

    &__searchArea {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        gap: 5px;
    }

    &__btn {
        width: 150px;
        padding: 10px;
    }

    &__nofound {
        text-align: center;
        padding-top: 50px;
        font-size: 50px;
    }
}