@import '_fonts.scss';
@import '_variables.scss';
@import '_reboot.min';
@import './elements';

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

@import './media';