@import '../../style/variables';

.footer {
    &__wrapper {
        background-color: $bg;
        padding: 100px 93px;
        display: flex;
        justify-content: space-between;

    }

    &__nav {
        width: 500px;
    }

    &__menu_items {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__menu_item {
        font-size: 25px;
        font-weight: 400;
        color: $light-text;
        a {
            text-decoration: none;
            transition: 0.5s all;

            &:hover  {
                color: $main-color;
            }
        }
        
    }

    &__info {
        width: 455px;
    }

    &__title {
        font-size: 25px;
        font-weight: 700;
        color: $light-text;
    }

    &__text {
        padding-top: 38px;
        font-size: 23.5px;
        color: $light-text;
    }

    &__about, &__catalog, &__contact {
        width: 210px;
        font-size: 25px;
        font-weight: 700;
        color: $light-text;
        text-transform: uppercase;
    }

    &__soc {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    &__copyright {
        font-size: 14px;
        background-color: $bg;
        display: flex;
        text-align: center;
        justify-content: center;
        color: $light-text;
        a {
            color: $main-color;
            text-decoration: none;
        }
        p {
            padding-right: 3px;
            padding-left: 3px;
        }
    }
}

.active-link {
    font-weight: 700;
    color: $main-color;
    text-decoration: none;
}

.nonactive-link {
    color: $light-text;
    text-decoration: none;
}


@media (max-width: 1200px) {
    
    .footer {
        &__wrapper {
            padding: 20px 40px;
        }

        &__info {
            width: 300px;
        }

        &__nav {
            width: 300px;
        }

        &__menu_items {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        &__contact {
            font-size: 20px;
        }
    }
}

@media (max-width: 992px) {
    .footer {
        &__title {
            font-size: 20px;
        }
        &__text {
            font-size: 16px;
        }

        &__menu_item {
            font-size: 16px;
        }

        &__contact {
            font-size: 16px;
        }

        &__soc-item {
            width: 30px;
        }
    }

}

@media (max-width: 768px) {
    .footer {
        padding-bottom: 80px;
        &__info {
            display: none;
        }
        &__nav {
            width: 50%;
        }
        &__menu_items {
            flex-direction: row;
            align-items: start;
            width: 200px;
        }

        &__menu_item {
            font-size: 14px;
        }

        &__contact {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        &__soc {
            padding-top: 15px;
            width: 160px;
        }
    }

}

@media (max-width: 576px) {
    .footer {
        &__wrapper {
            padding: 10px 10px;
        }
        &__menu_items {
            flex-direction: column;
            width: 100%;
        }
        &__contact {
            font-size: 12px;
        }

        &__soc {
            width: 100%;
            &-item {
                width: 25px;
            }
        }

        &__copyright {
            font-size: 10px;
        }
    }
}